<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Sfedu\ShopsManage\Block\Adminhtml\ReviewList">
        <plugin name="shopsmanage-reviewlist-inject-token" type="Sfedu\ShopsManage\Plugin\InjectAdminToken" />
    </type>
</config>
