<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <shopsmanage>
            <general>
                <shop_page_count>10</shop_page_count>
                <shop_page_change>0</shop_page_change>
                <review_page_count>5</review_page_count>
                <shop_towns>
                    <item1>
                        <town>Москва</town>
                    </item1>
                    <item2>
                        <town>Таганрог</town>
                    </item2>
                    <item3>
                        <town>Ростов-на-Дону</town>
                    </item3>
                    <item4>
                        <town>Рязань</town>
                    </item4>
                    <item5>
                        <town>Воронеж</town>
                    </item5>
                    <item6>
                        <town>Москва</town>
                    </item6>
                    <item7>
                        <town>Краснодар</town>
                    </item7>
                    <item8>
                        <town>Волгодонск</town>
                    </item8>
                    <item9>
                        <town>Сочи</town>
                    </item9>
                    <item10>
                        <town>Азов</town>
                    </item10>
                </shop_towns>
            </general>
        </shopsmanage>
    </default>
</config>
